body{
  display : block;
  background-color: indianred ;
  text-align: center ;
  border: 2px solid white;
}

title{
  border: 2px solid white;
}

h1, h2{
  color: goldenrod;
}

p{
  color: whitesmoke;
}

a{
  color: black;
  font-size: 12 px;
}

li{
  color: whitesmoke;
  font-size: 24px;
  text-align: left;
}